body{
    background: #8bfb96;
    width: 100%;
    height: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

.contenedor{
    width: 200px;
    height: 80%;
    background: #c9ffc6;
    padding: 30px;
    margin-left: 30%;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    border: solid 1px;
    border-radius: 20px;
    border-color: black;
}

h1{
    color: rgb(3, 71, 3);
}

a{
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    color: black;
    border: solid 1.5px;
    border-radius: 8px;
}

a:hover{
    background-color: rgba(71, 187, 56, 0.651);
}