body{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(203, 253, 210);
}

.cuerpoCalculadora{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.pantalla{
    display: inline-block;
    
}

.hist{
    display: inline-block;
}

.imagen{
    border: solid 1px;
    border-bottom: 0px;
    margin: 5px;
    margin-bottom: 0px;
    height: 80px;
    width: 398px;
    background-color: rgb(181, 231, 196);    
    text-align: end;
    font-size: 30px;
}



.botonG{
    display: inline-block;
    background-color: rgb(31, 182, 77);
    border: solid 1px;
    border-color: rgb(0, 0, 0);
    height: 100px;
    width: 100px;
    margin-top: 0px;
    margin-left: 0px;
    font-size: 30px;
}

.botonG:hover{
    background-color: rgb(22, 134, 55);
}

.linea{
    display: flex;
}


a{
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    color: black;
    border: solid 1.5px;
    border-radius: 8px;
}

a:hover{
    background-color: rgba(71, 187, 56, 0.651);
}

